.graph{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 0 5rem;
    &:nth-child(1)
    {
        grid-column: 1/7;
    }
    &:nth-child(2){
        grid-column: 1/4;
    }
    &:nth-child(3){
        grid-column: 4/7;
    }
}

