.graph{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;

    .recharts-legend-wrapper{
        .termor-elem{
            font-size: 2.5rem;
            font-weight: bold;
            line-height: normal;
            

        }
        div:first-of-type{
            justify-content: center;
        }
    
    }
    
    .dropdown-container{
        width: 100%;
        display: flex;
        justify-content: center;
        
        .tremor-Dropdown-root{
            width: 60%;
        }
        .tremor-Dropdown-text{
            font-size: 1.75rem;
            font-weight: bold;
            padding: 1.5rem;
        }
        .tremor-DropdownItem-text {
            font-size: 1.5rem;
            padding: 1.5rem;
        }
    }
}


