.graph{
    
    
    &.graph-population{
        align-items: flex-start;
        padding: 0 1rem 1rem;

        &:nth-child(1){
            grid-row: 1/2;
            grid-column: 1/4;
        }
        &:nth-child(2){
            grid-row: 1/2;
            grid-column: 4/7;
        }
        &:nth-child(3){
            grid-row: 2/3;
            grid-column: 1/7;
        }

        &.population-table{
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        &.population-table::-webkit-scrollbar{
            display: none;
        }
            
        .tremor-TableHeaderCell-root{
            background-color: white;
            font-size: 1.5rem;
            
        }
        .tremor-TableRow-row{
            font-size: 1.25rem;
            p{
                font-size: 1.25rem;
            }
        }
        
    
    }
    &.text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 3rem;
        
    }

}

