*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html{
  font-size: 62.5%;
}
body{
  background-color: #B6C1C9;
  width: 100%;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  padding: 1.5rem;
}
#root{
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 1.5rem;
}
img{
  max-width: 100%;
  display: block;
}
main{
  min-height: calc(100vh - 3rem);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}

